.main {
  padding: 20px;
}

.showcaseGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.showcaseRow {
  display: flex;
  height: 350px;
  padding: 0.5rem;
}

.showcaseItem {
  width: 100%;
  height: 100%;
  border: 0;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #eaeaea;
}
/* Hide scrollbar for IE, Edge and Firefox */
.showcase-item {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* Hide scrollbar for webkit browsers */
.showcase-item::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.iframeWrapper {
  cursor: pointer;
}

.iframeWrapper:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  position: relative;
  background-color: white;
  margin: 15% auto;
  padding: 2rem;
  width: 90%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);
}

.close-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* @media (max-width: 768px) { */
/*   .showcase { */
/*     flex: 0 0 300px; */
/*   } */
/* } */

.og-button {
  font-family: inherit;
  border: 2px outset #808080;
  background-color: #c0c0c0;
  padding: 2px 6px;
  color: black;
  cursor: pointer;
}

.og-button:active {
  border-style: inset;
}

/* Search input style */
/* input[type="search"] { */
/*   width: 300px; /* You can adjust this value as needed */
/* } */

/* Add spacing between nav items */
/* nav { */
/*   margin: 1rem 0; */
/* } */
/**/
/* nav div + div { */
/*   margin-top: 0.5rem; */
/* } */
